/* GLOBAL STYLES
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

.cf:before,
.cf:after {
  content: " "; 
  display: table; 
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
  color:#00243d;
}
.navbar-light .navbar-nav .nav-link{
  color:rgba(0,36,61,.5);
}
.navbar .container .nav-item{
  margin:0 1rem;
}
.section_title{
  text-align: center;
  color: #2a2a2e;
  font-weight: 400;
  font-size: 38px;
  position: relative;
  width: 500px;
  margin: 2rem auto;
}

.section_title:before{
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #000;
  left: 0;
  top: 50%;
  z-index: 0;
}

.team,
.contact{
  padding:3rem 0;
}


/* banner
-------------------------------------------------- */

.banner{
  /*background: url(../images/bg_banner.jpg) no-repeat center center;*/
  background: url(../images/bg_banner.png) no-repeat center center #fff;
  background-size: cover;
  border-bottom: 1px solid #e1e1e1;
}
.banner-inner{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 30rem;
}
.banner-caption {
  margin-bottom: 4rem;
  bottom: 3rem;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #00243d;
  flex:1;
  flex-basis: 80%;
}
.banner .container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.banner-img{
  flex:1;
  flex-basis: 20%;
}



/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .container{
  background: #f4f4f4;
  box-shadow: 0px 0px 5px rgba(0,0,0,.6);
  padding: 3rem;

}
.marketing .section_title span{
  background: #f4f4f4;
  position: relative;
  padding: 1rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.lead{
  font-size:1.15rem;
}

/* Featurettes
------------------------- */


.feature-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

nav.navbar {
  background: #f4f4f4;
  box-shadow: 0px 1px 4px rgba(0,0,0,.1);

}
.team {
  background:url(../images/bg_team.png) no-repeat center center #f9f9ff;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
}
.team .section_title span{
  background: #f9f9ff;
  position: relative;
  padding: 1rem;
}
.card-group{
  padding-top:6rem;
}
.team .card{
  position: relative;
  padding-top:5rem;
  box-shadow: 1px 2px 5px rgba(0,0,0,.2);
  border-radius: 8px!important;
}
.team .card:nth-child(2){
  margin:0 1rem;
}
.team_pic{
  margin:0 auto;
  margin-bottom: 1rem;
  position: absolute;
  left: 50%;
  top:-75px;
  transform: translateX(-50%);
  border:1px solid #e1e1e1;
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
.team .card .card-title{
  text-align: center;
  font-size: 34px;
}
.team .card .card-body{
  padding:1rem;
  display: flex;
  flex-direction: column;
}
.team .card p{
  text-align: justify;  
}
.team .card p:last-of-type{
  text-align: center;
  margin-top:auto;
}
.team .social{
  width: 28px;
  height: 27px;
  display: inline-block;
  margin:0 .5rem;
  text-indent: -9999px;
}
.team .social.instagram{
  background: url(../images/instagram_team.svg) no-repeat center center;
}
.team .social.linkedin{
  background: url(../images/linkedin_team.svg) no-repeat center center;
}
.team .social.facebook{
  background: url(../images/facebook_team.svg) no-repeat center center;
}
.contact .section_title span{
  background: #fff;
  position: relative;
  padding: 1rem;
}
.contact p{
  text-align: center;
  margin:2rem 0;
}
.contact .row{
  margin-bottom: 2rem;
}

.contact input,
.contact textarea{
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  background-color: transparent;
  margin-top:1rem;
}
.contact input:focus,
.contact textarea:focus{
  box-shadow: 0 1px 0 0 #4285f4;
  border-bottom: 1px solid #4285f4;
}
footer{
  background: #0591aa;
  color:#fff;
  padding: .3rem 0 0;

}
footer p{
  margin:0;
}
footer .linkedin_ft,
footer .facebook_ft{
  width: 20px;
  height: 20px;
  display: inline-block;
  color:#fff;
  text-indent: -9999px;
  background-size: 20px 20px;
  margin:0 0 0 .5rem ;

}
.linkedin_ft{
  background: url(../images/linkedin_footer.svg) no-repeat center center;
}
.facebook_ft{
  background: url(../images/facebook_footer.svg) no-repeat center center;
}





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .banner-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  
  .feature-heading {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .feature-heading {
    margin-top: 7rem;
  }
}